/* line 3, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site {
  background: #fafafa;
  font-size: 12px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: white 0px 0px 0px;
}
/* line 9, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site a {
  color: #498c36;
}
/* line 11, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site a:hover {
  color: #68a852;
}
/* line 14, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site form a {
  color: #e69c45;
}
/* line 16, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site form p.inline-hints {
  color: #777777;
  font-size: 14px;
  padding-bottom: 0 !important;
  display: block;
}
/* line 21, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site form textarea,
body#site form input.ok,
body#site form label {
  background-color: #fdf6ec;
  padding: 5px;
  margin-top: 20px;
  border: none;
}
/* line 27, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site form#project_form .text {
  float: none !important;
  width: 100% !important;
}
/* line 32, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site form #start_project_form #contact {
  width: 100%;
  display: block;
  color: #e69c45;
}
/* line 36, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main {
  width: 100%;
  overflow: hidden;
}
/* line 39, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel {
  margin: auto;
  width: 960px;
  height: 420px;
}
/* line 43, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel .jcarousel-prev.jcarousel-prev-horizontal, body#site #main #container_carousel .jcarousel-next.jcarousel-next-horizontal {
  width: 50px;
  height: 50px;
  background-color: black;
  display: block;
  position: absolute;
  top: 40%;
  z-index: 4;
}
/* line 51, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel .jcarousel-prev.jcarousel-prev-horizontal:hover, body#site #main #container_carousel .jcarousel-next.jcarousel-next-horizontal:hover {
  background-color: #ff961f;
}
/* line 53, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel .jcarousel-prev.jcarousel-prev-horizontal {
  left: -30px;
  background: black url("coletivo_social/carousel_prev.png") 50% 50% no-repeat;
}
/* line 56, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel .jcarousel-next.jcarousel-next-horizontal {
  right: -30px;
  background: black url("coletivo_social/carousel_next.png") 50% 50% no-repeat;
}
/* line 59, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel #carousel {
  width: 2900px;
  height: 420px;
  position: absolute;
  overflow: hidden;
}
/* line 64, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel #carousel .mask {
  position: relative;
  overflow: hidden;
  width: 540px;
}
/* line 68, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel #carousel li {
  width: 960px;
  height: 420px;
  float: left;
  position: relative;
}
/* line 73, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel #carousel li img {
  width: 960px;
  height: 420px;
}
/* line 76, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel #carousel li .frame {
  position: absolute;
  z-index: 1;
  background: #999999 url("coletivo_social/frame_carousel.png") 0 0 repeat;
  height: 100%;
  width: 960px;
  top: 0;
  opacity: 0.8;
  display: block;
}
/* line 86, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel #carousel li.active .frame, body#site #main #container_carousel #carousel li.show .frame {
  display: none;
}
/* line 88, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel #carousel li.active .text_content, body#site #main #container_carousel #carousel li.show .text_content {
  padding: 20px;
  z-index: 2;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 500px;
  height: 150px;
  color: #cccccc;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}
/* line 98, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel #carousel li.active .text_content h3, body#site #main #container_carousel #carousel li.show .text_content h3 {
  font-size: 24px;
}
/* line 100, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main #container_carousel #carousel li.active .text_content .bg, body#site #main #container_carousel #carousel li.show .text_content .bg {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* line 110, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .back_office {
  padding: 0;
}
/* line 112, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user {
  line-height: 32px;
  margin-top: 0;
}
/* line 115, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user a {
  padding: 0;
}
/* line 117, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #user_menu_link, body#site #user .hover {
  background-color: #54523a;
  color: #f3c080;
  font-weight: 400;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  font-size: 12px;
  padding: 0 5px;
  margin-top: -8px;
}
/* line 126, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #user_menu_link img {
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  vertical-align: middle;
  margin: 0 10px;
}
/* line 130, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #user_menu {
  background-color: #00b9cb;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  top: 36px;
  font-size: 12px;
  padding: 0 2px;
  width: 100%;
}
/* line 140, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #user_menu ul li {
  border-bottom: 2px solid #4bcbd8;
}
/* line 142, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #user_menu ul li a {
  color: white;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}
/* line 145, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #pre_header {
  background-color: #6c714e;
}
/* line 147, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #content_header {
  display: inline;
  float: left;
  width: 460px;
  color: #00b9c4;
  display: block;
  display: inline;
  float: left;
  font-size: 16px;
  line-height: 18px;
  margin-top: 30px;
}
/* line 156, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header {
  width: 960px;
  margin: 0 auto;
}
/* line 159, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header h1 {
  margin-left: 8px;
  font-size: 12px;
  width: 600px;
  color: #00bacd;
}
/* line 164, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header h1 img {
  display: inline;
  float: left;
}
/* line 166, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header h1.home_logo {
  margin-left: 27px;
}
/* line 168, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header h1 .slogan {
  display: block;
  margin-top: 20px;
}
/* line 171, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header #content_header {
  display: inline;
  float: left;
  width: 460px;
  color: #00b9c4;
  display: block;
  display: inline;
  float: left;
  font-size: 16px;
  line-height: 18px;
  margin-top: 30px;
}
/* line 180, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header #content_header h1 {
  padding: 8px 24px !important;
}
/* line 182, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header #content_header h2 {
  padding: 8px 24px !important;
}
/* line 184, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #menu {
  display: inline;
  float: left;
  margin-top: 38px;
  margin-bottom: 20px;
}
/* line 188, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 48, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #menu ul li:first-child, body#site #menu ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #menu ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #menu ul li.last {
  padding-right: 0;
}
/* line 191, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #menu ul li a {
  text-decoration: none;
  background: #b9b9b9 url("coletivo_social/projects_bt.png") 3% 50% no-repeat;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  padding: 5px 10px 5px 40px;
  margin-left: 10px;
  color: white;
  display: block;
  font-size: 14px;
  font-weight: 900;
}
/* line 201, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #menu ul li a:hover {
  background-color: #ee0578;
}
/* line 203, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #menu ul li a#new_project_link {
  background-image: url("coletivo_social/new_project.png");
}
/* line 205, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #menu ul li a#new_project_link:hover {
  background-color: #0ab7be;
}
/* line 207, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_header_wrapper {
  background-color: #f8c181;
}
/* line 209, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper {
  background-color: transparent;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* line 213, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content_header .bread {
  font-size: 16px;
  font-weight: 900;
  margin-left: -260px;
  position: absolute;
  text-align: right;
  width: 200px;
  text-transform: uppercase;
}
/* line 221, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #notification_wrapper {
  width: 880px;
  border: 1px #999999 solid;
  padding: 5px 0 5px 0;
  background: #e0e0e0;
  margin: 20px auto 0;
}
/* line 228, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #notification_wrapper div h1 {
  padding: 8px 0 5px 10px;
  font-size: 20px;
  text-align: center;
  color: #333333;
}
/* line 233, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #notification_wrapper div h1 a {
  text-decoration: none;
}
/* line 236, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content_header {
  width: 960px;
  margin: 0 auto;
  background: #84afb5 url(coletivo_social/content_header.png) -5px 10px no-repeat;
  text-align: left;
  padding: 10px 0 30px 40px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -o-border-top-left-radius: 0px;
  -ms-border-top-left-radius: 0px;
  -khtml-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  border-left: 2px solid white;
}
/* line 245, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content_header h1, body#site #content_wrapper #content_header h2 {
  padding: 0 8px;
  font-size: 14px;
  text-shadow: white 0px 0px 0px;
}
/* line 249, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content_header h1 {
  font-size: 18px;
}
/* line 251, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content {
  width: 960px;
  margin: 0 auto;
  background-color: white;
}
/* line 255, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content h1 {
  color: #498c36;
}
/* line 257, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content h1, body#site #content_wrapper #content h2 {
  color: #666a45 !important;
  font-size: 14px !important;
  font-weight: 900 !important;
  padding-bottom: 10px !important;
}
/* line 262, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content h3, body#site #content_wrapper #content label {
  color: #666a45;
  font-size: 14px;
}
/* line 265, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content strong {
  color: #f29113;
}
/* line 267, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #user_feed {
  font-size: 12px;
}
/* line 269, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #user_feed .container {
  background-color: #fdf6ec;
  padding: 5px;
  margin-top: 20px;
}
/* line 271, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #user_feed a {
  color: #f29113;
  font-size: 12px;
}
/* line 274, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #user_feed div {
  margin: 0;
}
/* line 277, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #user_feed ul li {
  margin: 0 0 10px;
}
/* line 280, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .project_box strong {
  color: black;
}
/* line 284, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .project_box .project_wrap .project_header h1 {
  font-size: 24px !important;
}
/* line 287, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_content, body#site #content_wrapper #content #project_description #project_menu {
  border: 5px solid #999999;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -khtml-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
/* line 290, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_menu {
  border-width: 5px 5px 0 0;
}
/* line 292, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_content {
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -khtml-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  border-top: 0;
}
/* line 295, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_content #project_about {
  width: auto;
  padding: 30px;
  color: #555555;
  background-color: white;
}
/* line 300, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_menu {
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
/* line 302, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_menu ul {
  background-color: #999999;
  padding: 0 5px !important;
}
/* line 306, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_menu ul li a {
  width: 195px;
  padding: 10px 0;
  display: block;
  float: left;
  background-color: #f8c181;
  color: white;
  font-size: 12px;
  margin: 0;
}
/* line 316, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_menu ul li.selected a {
  background-color: white;
  color: #f8c181;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}
/* line 320, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_share {
  background-color: #b5ccec;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  width: 100%;
  border: none;
  padding-top: 10px;
}
/* line 327, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_share li {
  border-right: 5px solid #b5ccec;
  font-size: 12px;
  color: white;
  padding: 5px;
  line-height: 20px;
}
/* line 333, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_share li input {
  height: 12px;
}
/* line 335, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_share li a {
  color: white;
  font-size: 12px;
  line-height: 12px;
}
/* line 340, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_share ul.links li {
  background-color: #f2f3eb;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  line-height: 12px;
  font-size: 12px;
  color: #999999;
  border: none;
  margin: 0 10px 10px 0;
}
/* line 349, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_share ul.shares li {
  background-color: #7f91bf;
}
/* line 351, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_share #facebook_share, body#site #content_wrapper #content #project_description #project_share #twitter_share {
  width: 60px;
  float: left;
  height: auto;
  margin: 0 10px;
  padding: 0;
}
/* line 357, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_share #facebook_share iframe, body#site #content_wrapper #content #project_description #project_share #twitter_share iframe {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  margin: 0;
}
/* line 360, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_video {
  width: 620px;
  background-color: black;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -khtml-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
/* line 364, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_video .frame {
  border: 5px solid black;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -khtml-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
/* line 367, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_video iframe {
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  -o-border-radius: 20px / 20px;
  -ms-border-radius: 20px / 20px;
  -khtml-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* line 371, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #rewards {
  border: 1px solid #aaaaaa;
}
/* line 373, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #rewards h1 {
  background: #84afb5 url("coletivo_social/gratificacao_bg.png") 0 0 no-repeat;
  color: white !important;
}
/* line 376, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project {
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  background-color: white;
  border-width: 1px;
}
/* line 380, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .text {
  width: auto;
  float: none;
}
/* line 383, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .info {
  padding: 6px;
}
/* line 385, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .info input[type="submit"] {
  font-size: 16px !important;
}
/* line 387, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project h1, body#site #content_wrapper #content #project_back_info #back_project h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  background-color: #84afb5;
  color: white !important;
  text-align: right;
  text-transform: uppercase;
  font-size: 25px !important;
}
/* line 395, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .number {
  padding: 6px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #6d6d51;
  text-transform: lowercase;
}
/* line 401, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .number span, body#site #content_wrapper #content #project_back_info #back_project .number strong {
  font-weight: 900;
  color: #555555;
  text-transform: uppercase;
}
/* line 405, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .number span {
  font-size: 24px;
}
/* line 407, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .project_progress {
  margin: auto;
  margin-bottom: 10px;
  border: none;
}
/* line 411, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .project_progress .progress_bar {
  margin: auto;
  border: 2px solid #dddddd;
  background-color: #dddddd;
}
/* line 415, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .project_progress .progress_bar .progress {
  line-height: 14px !important;
}
/* line 417, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .project_warning {
  background: url("coletivo_social/project_register_bg.jpg") 2% 50% no-repeat;
  padding-left: 4%;
}
/* line 420, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .project_warning.not_successful, body#site #content_wrapper #content #project_back_info #back_project .project_warning.successful {
  padding: 0;
  background-image: none;
}
/* line 423, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .project_warning.not_successful div, body#site #content_wrapper #content #project_back_info #back_project .project_warning.successful div {
  background-color: #d3c981;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  margin: 0 5px;
}
/* line 427, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project fieldset {
  padding: 0;
}
/* line 429, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project input[type=submit] {
  background: #02c6d5 url(coletivo_social/bt.png) 0 0 no-repeat;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  color: white;
  padding: 10px 5px 10px 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  width: 100%;
}
/* line 440, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #rewards {
  padding: 5px;
  border-color: #bbbbbb;
}
/* line 443, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #rewards h1 {
  color: white;
  background: #84afb5 url("coletivo_social/gratificacao_bg.png") 0 0 no-repeat !important;
  border-right: 5px solid #00bccf;
  text-align: right;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  font-size: 24px !important;
  padding-right: 5px;
}
/* line 451, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #rewards ul {
  border: none;
}
/* line 453, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #rewards ul li {
  padding: 20px 0;
}
/* line 455, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #rewards ul li .desc {
  color: #555555;
  padding: 20px;
  font-size: 14px;
}
/* line 459, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #rewards ul li h1 {
  padding: 10px 5px;
  color: #222222;
  background: #84afb5 url("coletivo_social/cifrao_bg.png") 0 0 no-repeat !important;
}
/* line 463, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #rewards .reward_backers {
  color: #00bbc9;
  padding: 0 20px;
}
/* line 467, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content form input[type=submit] {
  background: #02c6d5 url(coletivo_social/bt.png) 0 0 no-repeat;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  color: white;
  padding: 2px 5px 2px 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}
/* line 478, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options #backer_value_input {
  border-right: 7px solid #f8c181;
  background-color: #4cc8d0;
  color: white !important;
  padding: 0 20px;
}
/* line 481, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options #backer_value_input input {
  background-color: white;
  border: none;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  margin-top: 0;
}
/* line 486, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options #backer_value_input label, body#site #content_wrapper #content #back_options #backer_value_input .inline-hints {
  background-color: transparent;
  color: white;
}
/* line 489, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options #backer_value_input label {
  font-weight: 900;
}
/* line 491, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options #backer_value_input .inline-hints {
  font-size: 12px;
}
/* line 493, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options ol {
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* line 495, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options li {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  padding: 0;
}
/* line 499, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options li label {
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* line 501, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_info {
  font-size: 12px;
  line-height: 16px;
  color: #555555;
  padding-left: 10px;
  border-left: 1px dotted #777777;
}
/* line 507, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_info #project_info {
  background-color: #84afb5;
  padding: 20px 20px 5px;
  width: auto;
  float: none;
  display: block;
  border-right: 7px solid #f8c181;
}
/* line 513, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_info #project_info .project_owner, body#site #content_wrapper #content #back_info #project_info .project_expires_at, body#site #content_wrapper #content #back_info #project_info a {
  color: white;
}
/* line 515, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_info #project_info .project_expires_at {
  font-size: 12px;
  font-weight: 400;
}
/* line 518, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_info #project_info img {
  display: inline;
  float: right;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border: 1px solid white;
}
/* line 524, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #profile_header .image img {
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* line 526, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .text {
  width: 75%;
  float: left;
}
/* line 529, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .newsletter {
  width: 23%;
  float: right;
}
/* line 532, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .our_video {
  position: relative;
  width: 635px;
  float: left;
  margin-bottom: 20px;
}
/* line 537, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .our_video h2 {
  background-color: #666a45;
  color: white !important;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  text-transform: uppercase;
  padding: 10px 15px;
}
/* line 543, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .our_video img {
  width: 635px;
  height: 245px;
}
/* line 546, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .our_video p {
  position: absolute;
  margin-top: -34px;
  background: rgba(0, 0, 0, 0.6) url("coletivo_social/seta_video.png") 2% 50% no-repeat;
  width: 100%;
  padding: 0;
}
/* line 552, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .our_video p a {
  color: #00bbc9;
  padding: 3px 5%;
  font-size: 18px;
  text-decoration: none;
  display: block;
}
/* line 559, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #credits h1 {
  background: #fdf6ec url("coletivo_social/credit_bg.jpg") 0 0 no-repeat;
  font-size: 32px !important;
  padding: 0 0 0 100px !important;
  line-height: 63px;
}
/* line 564, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #credits h1 span {
  color: #f29113;
}
/* line 566, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #credits h2 {
  color: #f29113 !important;
}
/* line 568, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper .video {
  display: inline;
  width: 640px;
  height: 280px;
}
/* line 572, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper .banner {
  border: 1px solid #999999;
  float: right;
  width: 300px;
  height: 250px;
  text-align: center;
}
/* line 579, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_header h1 {
  padding-left: 0 !important;
}
/* line 581, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_header h1 .on_the_spot_mouseover {
  background-color: #2b6e18;
  background-color: rgba(43, 110, 24, 0.5);
}
/* line 584, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_header h2 {
  padding-bottom: 4px !important;
}
/* line 586, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #index_header {
  position: relative;
}
/* line 588, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #index_header #index_share {
  margin-top: -90px;
  display: inline;
  float: right;
  width: 224px;
}
/* line 592, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #index_header #index_share iframe {
  width: 180px !important;
}
/* line 595, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #index_header #index_share span.fb_iframe_widget iframe {
  width: 401px !important;
}
/* line 597, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #index_header #index_share iframe.twitter-follow-button {
  margin-top: 4px;
  width: 224px !important;
}
/* line 600, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #index_header #index_share iframe.twitter-share-button {
  margin-top: 8px;
}
/* line 602, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_list_header {
  color: #00bbc9;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  border-top: 10px solid #6c6f50;
  margin: 10px 0 0 0;
  padding: 10px 20px 10px;
  clear: both;
}
/* line 611, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_list_header, body#site .project_list_wrapper {
  background-color: white;
}
/* line 613, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_box {
  padding: 3px;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  border: 1px solid #999999;
}
/* line 617, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_box .project_progress {
  background-color: #a9ab97;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  padding-top: 5px;
}
/* line 621, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_box .project_progress .container {
  background-color: #6f6e69;
  margin: 0 5px 10px;
  padding: 3px 0 3px 30px;
}
/* line 627, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_box .project_wrap .project_header .project_image {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  height: 150px;
}
/* line 630, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_box .project_category {
  color: #00bbc9;
  background: rgba(0, 0, 0, 0.5) url(coletivo_social/heart.png) no-repeat -2px -2px;
  line-height: 24px;
  top: 106px;
  width: 226px;
  border-right: 8px solid rgba(0, 188, 196, 0.7);
  font-size: 18px;
}
/* line 638, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .progress_bar {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  border: 3px double #888888;
  background-color: #787a75;
  margin: 0;
}
/* line 643, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .progress_bar .progress {
  background-color: #ff961f;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
}
/* line 647, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_description #project_menu {
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
/* line 650, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_description #project_menu ul li {
  padding-bottom: 0;
}
/* line 652, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_description #project_menu ul li a {
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
/* line 654, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_description #project_menu ul li a:hover {
  background-color: #68a852;
}
/* line 657, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_description #project_menu ul li.selected a {
  background-color: #498c36;
}
/* line 659, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .explore_more {
  background-color: white;
  margin: 0;
  padding: 0 10px;
}
/* line 663, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .explore_more hr {
  opacity: 1;
  margin: 0;
  width: auto;
  float: none;
  display: block;
  margin-bottom: 10px;
}
/* line 669, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .explore_more a {
  color: black;
  clear: both;
}
/* line 672, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .explore_more .explore_more_arrow {
  background-color: black;
  color: white;
  padding: 0 5px;
  font-size: 12px;
  float: none;
  display: block;
  display: inline;
}
/* line 680, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu {
  float: none;
  display: block;
  width: auto;
}
/* line 683, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu h3 {
  color: #00bbc9;
  font-size: 20px;
  text-transform: uppercase;
}
/* line 687, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu ul {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999999;
}
/* line 691, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu ul li {
  display: inline;
  border-right: 1px solid #cccccc;
}
/* line 694, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu ul li a {
  display: inline;
  background-color: white;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
}
/* line 700, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu ul li a:hover {
  color: #999999;
  background-color: white;
}
/* line 703, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu ul li a.selected {
  color: #f29113;
  background-color: white;
  font-weight: 900;
}
/* line 707, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_results {
  float: none;
  display: block;
  width: auto;
}
/* line 713, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_back_info #back_project form input[type=submit] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #68a852), color-stop(100%, #498c36));
  background-image: -webkit-linear-gradient(top, #68a852, #498c36);
  background-image: -moz-linear-gradient(top, #68a852, #498c36);
  background-image: -o-linear-gradient(top, #68a852, #498c36);
  background-image: -ms-linear-gradient(top, #68a852, #498c36);
  background-image: linear-gradient(top, #68a852, #498c36);
}
/* line 715, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_back_info #back_project form input[type=submit]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #498c36), color-stop(100%, #68a852));
  background-image: -webkit-linear-gradient(top, #498c36, #68a852);
  background-image: -moz-linear-gradient(top, #498c36, #68a852);
  background-image: -o-linear-gradient(top, #498c36, #68a852);
  background-image: -ms-linear-gradient(top, #498c36, #68a852);
  background-image: linear-gradient(top, #498c36, #68a852);
}
/* line 717, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_back_info #back_project form input[type=submit]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #498c36), color-stop(100%, #68a852));
  background-image: -webkit-linear-gradient(top, #498c36, #68a852);
  background-image: -moz-linear-gradient(top, #498c36, #68a852);
  background-image: -o-linear-gradient(top, #498c36, #68a852);
  background-image: -ms-linear-gradient(top, #498c36, #68a852);
  background-image: linear-gradient(top, #498c36, #68a852);
}
/* line 719, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_back_info #back_project form input[type=submit]:disabled {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbbbbb), color-stop(100%, #888888));
  background-image: -webkit-linear-gradient(top, #bbbbbb, #888888);
  background-image: -moz-linear-gradient(top, #bbbbbb, #888888);
  background-image: -o-linear-gradient(top, #bbbbbb, #888888);
  background-image: -ms-linear-gradient(top, #bbbbbb, #888888);
  background-image: linear-gradient(top, #bbbbbb, #888888);
}
/* line 722, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer {
  clear: both;
  background-color: #82a7ff;
  color: white;
  padding: 0px 0 10px 0;
  border-top: solid 7px #6c714e;
  text-shadow: transparent, 0, 0, 0;
  margin-top: 40px;
  padding-top: 0px;
  background-color: #8c9bfd;
  color: #dddddd;
  text-align: left;
}
/* line 734, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer .body {
  width: 960px;
  background: transparent url(coletivo_social/logo_footer.png) 0 50% no-repeat;
  margin: auto;
  position: relative;
}
/* line 739, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer .body #faq {
  position: absolute;
  top: 0;
  left: 0;
  background: #6c714e url(coletivo_social/ico_faq.png) 10px 50% no-repeat;
  padding: 5px 5px 5px 30px;
  color: #ff961f;
  text-decoration: none;
}
/* line 747, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer a {
  color: #dddddd;
}
/* line 749, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer a:hover {
  color: white;
}
/* line 751, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu {
  margin: 0 0 0 150px;
  padding: 20px 0;
  width: auto;
}
/* line 755, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin: 0 40px;
}
/* line 60, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 48, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li:first-child, body#site #footer #footer_menu ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li.last {
  padding-right: 0;
}
/* line 759, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu ul li {
  float: none;
  display: block;
  display: block;
  border-bottom: 1px solid #cccccc;
  text-align: left;
  margin-top: 10px;
  font-weight: 400;
  padding: 0 0 5px 0;
}
/* line 767, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu ul li a {
  text-decoration: none;
}
/* line 769, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu ul li a:hover {
  color: #4a498a;
  font-weight: 900;
}
/* line 772, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu .collaborate {
  color: white;
  display: inline;
  float: right;
  width: 200px;
}
/* line 776, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu .collaborate .buy, body#site #footer #footer_menu .collaborate .stat {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
  padding: 10px;
}
/* line 782, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu .collaborate .stat div {
  float: left;
  margin-right: 10px;
}
/* line 785, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu .collaborate .stat p {
  font-weight: 900;
  font-style: italic;
  font-size: 18px;
}
/* line 789, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu .collaborate .buy {
  background: rgba(255, 255, 255, 0.2) url(coletivo_social/payments.png) no-repeat 50% 90%;
  padding-bottom: 70px;
}
/* line 794, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #social_menu {
  margin: 0 auto;
  width: 488px;
  padding-bottom: 40px;
  font-size: 16px;
  clear: both;
}
/* line 800, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #social_menu img {
  vertical-align: middle;
  padding-bottom: 4px;
  height: 22px;
}
/* line 804, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #social_menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 48, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li:first-child, body#site #footer #social_menu ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li.last {
  padding-right: 0;
}
/* line 807, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #social_menu ul li a {
  font-size: 12px;
  padding: 3px 10px 0px;
  border-radius: 10px 10px 10px 10px;
  background: rgba(255, 255, 255, 0.15);
  text-decoration: none;
  font-weight: bold;
  display: block;
  display: inline;
  float: left;
}
/* line 816, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #social_menu ul li a:hover {
  background-color: #6f76cb;
}
/* line 818, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #how_it_works, body#site #project_warning, body#site #user_feed #gravatar_hint, body#site #companies .hint, body#site #about .hint {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border-right: 7px solid #f8c181;
  background-color: #4cc8d0;
  color: white !important;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  padding: 20px 10px;
  margin-bottom: 20px;
}
/* line 828, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #how_it_works #show-tips a, body#site #project_warning #show-tips a, body#site #user_feed #gravatar_hint #show-tips a, body#site #companies .hint #show-tips a, body#site #about .hint #show-tips a {
  color: white;
}
/* line 830, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #gravatar_hint {
  background: #4cc8d0 url(coletivo_social/perfil_bg.jpg) 2% 50% no-repeat;
  padding-left: 90px !important;
}
/* line 834, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_warning {
  background: #4cc8d0 url("coletivo_social/project_register_bg.jpg") 2% 50% no-repeat;
  padding-left: 9%;
}
/* line 837, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site p#copyright {
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  padding-top: 10px;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
/* line 844, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site p#copyright img {
  width: 10px;
}
/* line 846, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site p#copyright a {
  text-width: 900;
}
/* line 849, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .on_the_spot_editing:after {
  content: " " url("coletivo_social/pencil.png");
}
/* line 851, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #companies {
  background-color: white;
}
/* line 854, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #companies .logos img {
  padding: 5px;
  width: 250px;
  height: 250px;
  border: 10px solid #efefef;
  margin: 10px;
}
/* line 861, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #about .img {
  margin-bottom: 20px;
}
/* line 864, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #about .video iframe {
  background-color: black;
  width: 100%;
}
/* line 867, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #about .video .hint {
  background-color: black;
  border: none;
  color: #00bbc9 !important;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0;
}
/* line 875, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .comments {
  margin-top: 30px;
  width: 610px;
  float: left;
  clear: left;
}
/* line 880, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .comments h3 {
  background: #84afb5 url("coletivo_social/balao_bg.png") 98% 50% no-repeat;
  padding: 10px;
  font-size: 18px;
  color: white !important;
  margin-bottom: 20px;
}
