/* line 3, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site {
  background: #fafafa;
  font-size: 12px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: white 0px 0px 0px;
}
/* line 9, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site a {
  color: #498c36;
}
/* line 11, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site a:hover {
  color: #68a852;
}
/* line 14, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site form a {
  color: #e69c45;
}
/* line 16, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site form p.inline-hints {
  color: #777777;
  font-size: 14px;
  padding-bottom: 0 !important;
  display: block;
}
/* line 21, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site form textarea,
body#site form input.ok,
body#site form label {
  background-color: #fdf6ec;
  padding: 5px;
  margin-top: 20px;
  border: none;
}
/* line 27, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site form#project_form .text {
  float: none !important;
  width: 100% !important;
}
/* line 32, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site form #start_project_form #contact {
  width: 100%;
  display: block;
  color: #e69c45;
}
/* line 36, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #main {
  width: 100%;
}
/* line 38, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .back_office {
  padding: 0;
}
/* line 40, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user {
  line-height: 32px;
  margin-top: 0;
}
/* line 43, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user a {
  padding: 0;
}
/* line 45, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #user_menu_link, body#site #user .hover {
  background-color: #54523a;
  color: #f3c080;
  font-weight: 400;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  font-size: 12px;
  padding: 0 5px;
  margin-top: -8px;
}
/* line 54, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #user_menu_link img {
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  vertical-align: middle;
  margin: 0 10px;
}
/* line 58, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #user_menu {
  background-color: #00b9cb;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  top: 36px;
  font-size: 12px;
  padding: 0 2px;
  width: 100%;
}
/* line 68, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #user_menu ul li {
  border-bottom: 2px solid #4bcbd8;
}
/* line 70, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #user_menu ul li a {
  color: white;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}
/* line 73, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #pre_header {
  background-color: #6c714e;
}
/* line 75, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #user #content_header {
  display: inline;
  float: left;
  width: 460px;
  color: #00b9c4;
  display: block;
  display: inline;
  float: left;
  font-size: 16px;
  line-height: 18px;
  margin-top: 30px;
}
/* line 84, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header {
  width: 960px;
  margin: 0 auto;
}
/* line 87, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header h1 {
  margin-left: 8px;
  font-size: 12px;
  width: 600px;
  color: #00bacd;
}
/* line 92, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header h1 img {
  display: inline;
  float: left;
}
/* line 94, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header h1.home_logo {
  margin-left: 27px;
}
/* line 96, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header h1 .slogan {
  display: block;
  margin-top: 20px;
}
/* line 99, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header #content_header {
  display: inline;
  float: left;
  width: 460px;
  color: #00b9c4;
  display: block;
  display: inline;
  float: left;
  font-size: 16px;
  line-height: 18px;
  margin-top: 30px;
}
/* line 108, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header #content_header h1 {
  padding: 8px 24px !important;
}
/* line 110, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #header #content_header h2 {
  padding: 8px 24px !important;
}
/* line 112, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #menu {
  display: inline;
  float: left;
  margin-top: 38px;
  margin-bottom: 20px;
}
/* line 116, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 48, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #menu ul li:first-child, body#site #menu ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #menu ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #menu ul li.last {
  padding-right: 0;
}
/* line 119, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #menu ul li a {
  text-decoration: none;
  background-color: #b9b9b9;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  padding: 5px 10px 5px 40px;
  margin-left: 10px;
  color: white;
  display: block;
  font-size: 14px;
  font-weight: 900;
}
/* line 129, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #menu ul li a:hover {
  background-color: #ee0578;
}
/* line 131, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_header_wrapper {
  background-color: #f8c181;
}
/* line 133, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper {
  background-color: transparent;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* line 137, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content_header .bread {
  font-size: 16px;
  font-weight: 900;
  margin-left: -260px;
  position: absolute;
  text-align: right;
  width: 200px;
  text-transform: uppercase;
}
/* line 145, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #notification_wrapper {
  width: 880px;
  border: 1px #999999 solid;
  padding: 5px 0 5px 0;
  background: #e0e0e0;
  margin: 20px auto 0;
}
/* line 152, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #notification_wrapper div h1 {
  padding: 8px 0 5px 10px;
  font-size: 20px;
  text-align: center;
  color: #333333;
}
/* line 157, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #notification_wrapper div h1 a {
  text-decoration: none;
}
/* line 160, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content_header {
  width: 960px;
  margin: 0 auto;
  background: #84afb5 url(coletivo_social/content_header.png) -5px 10px no-repeat;
  text-align: left;
  padding: 10px 0 30px 40px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -o-border-top-left-radius: 0px;
  -ms-border-top-left-radius: 0px;
  -khtml-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  border-left: 2px solid white;
}
/* line 169, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content_header h1, body#site #content_wrapper #content_header h2 {
  padding: 0 8px;
  font-size: 14px;
  text-shadow: white 0px 0px 0px;
}
/* line 173, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content_header h1 {
  font-size: 18px;
}
/* line 175, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content {
  width: 960px;
  margin: 0 auto;
  background-color: white;
}
/* line 179, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content h1 {
  color: #498c36;
}
/* line 181, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content h1, body#site #content_wrapper #content h2 {
  color: #666a45 !important;
  font-size: 14px !important;
  font-weight: 900 !important;
  padding-bottom: 10px !important;
}
/* line 186, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content h3, body#site #content_wrapper #content label {
  color: #666a45;
  font-size: 14px;
}
/* line 189, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content strong {
  color: #f29113;
}
/* line 191, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #user_feed {
  font-size: 12px;
}
/* line 193, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #user_feed .container {
  background-color: #fdf6ec;
  padding: 5px;
  margin-top: 20px;
}
/* line 195, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #user_feed a {
  color: #f29113;
  font-size: 12px;
}
/* line 198, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #user_feed div {
  margin: 0;
}
/* line 201, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #user_feed ul li {
  margin: 0;
}
/* line 204, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .project_box strong {
  color: black;
}
/* line 208, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .project_box .project_wrap .project_header h1 {
  font-size: 24px !important;
}
/* line 211, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_content, body#site #content_wrapper #content #project_description #project_menu {
  border: 5px solid #999999;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -khtml-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
/* line 214, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_menu {
  border-width: 5px 5px 0 0;
}
/* line 216, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_content {
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -khtml-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  border-top: 0;
}
/* line 219, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_content #project_about {
  width: auto;
  padding: 30px;
  color: #555555;
  background-color: white;
}
/* line 224, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_menu {
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
/* line 226, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_menu ul {
  background-color: #999999;
  padding: 0 5px !important;
}
/* line 230, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_menu ul li a {
  width: 195px;
  padding: 10px 0;
  display: block;
  float: left;
  background-color: #f8c181;
  color: white;
  font-size: 12px;
  margin: 0;
}
/* line 240, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_menu ul li.selected a {
  background-color: white;
  color: #f8c181;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}
/* line 244, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_share {
  background-color: #b5ccec;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  width: 100%;
  border: none;
}
/* line 250, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_video {
  width: 620px;
  background-color: black;
}
/* line 253, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_video .frame {
  border: 5px solid black;
}
/* line 255, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_description #project_video iframe {
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  -o-border-radius: 20px / 20px;
  -ms-border-radius: 20px / 20px;
  -khtml-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* line 259, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #rewards {
  border: 1px solid #aaaaaa;
}
/* line 261, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #rewards h1 {
  background-color: #84afb5;
  color: white !important;
}
/* line 264, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project {
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  background-color: white;
  border-width: 1px;
}
/* line 268, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .text {
  width: auto;
  float: none;
}
/* line 271, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .info {
  padding: 6px;
}
/* line 273, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project h1, body#site #content_wrapper #content #project_back_info #back_project h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  background-color: #84afb5;
  color: white !important;
  text-align: right;
  text-transform: uppercase;
  font-size: 25px !important;
}
/* line 281, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .number {
  padding: 6px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #6d6d51;
  text-transform: lowercase;
}
/* line 287, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .number span, body#site #content_wrapper #content #project_back_info #back_project .number strong {
  font-weight: 900;
  color: #555555;
  text-transform: uppercase;
}
/* line 291, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .number span {
  font-size: 24px;
}
/* line 293, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .project_progress {
  margin: auto;
  margin-bottom: 10px;
  border: none;
}
/* line 297, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .project_progress .progress_bar {
  margin: auto;
  border: 2px solid #dddddd;
  background-color: #dddddd;
}
/* line 301, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .project_progress .progress_bar .progress {
  line-height: 14px !important;
}
/* line 303, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .project_warning.not_successful {
  background-image: none;
}
/* line 305, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project .project_warning.not_successful div {
  background-color: #d3c981;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  margin: 0 5px;
}
/* line 309, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project fieldset {
  padding: 0;
}
/* line 311, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #back_project input[type=submit] {
  background: #02bbcf url(coletivo_social/bt.png) 0 0 no-repeat;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  color: white;
  padding: 10px 5px 10px 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  width: 100%;
}
/* line 323, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #rewards h1 {
  color: white;
}
/* line 325, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #project_back_info #rewards ul li h1 {
  color: #222222;
}
/* line 328, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content form input[type=submit] {
  background: #02bbcf url(coletivo_social/bt.png) 0 0 no-repeat;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  color: white;
  padding: 2px 5px 2px 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}
/* line 339, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options #backer_value_input {
  border-right: 7px solid #f8c181;
  background-color: #03bacc;
  color: white !important;
  padding: 0 20px;
}
/* line 342, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options #backer_value_input input {
  background-color: white;
  border: none;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  margin-top: 0;
}
/* line 347, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options #backer_value_input label, body#site #content_wrapper #content #back_options #backer_value_input .inline-hints {
  background-color: transparent;
  color: white;
}
/* line 350, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options #backer_value_input label {
  font-weight: 900;
}
/* line 352, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options #backer_value_input .inline-hints {
  font-size: 12px;
}
/* line 354, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options ol {
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* line 356, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options li {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  padding: 0;
}
/* line 360, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_options li label {
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* line 362, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_info {
  font-size: 12px;
  line-height: 16px;
  color: #555555;
  padding-left: 10px;
  border-left: 1px dotted #777777;
}
/* line 368, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_info #project_info {
  background-color: #84afb5;
  padding: 20px 20px 5px;
  width: auto;
  float: none;
  display: block;
  border-right: 7px solid #f8c181;
}
/* line 374, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_info #project_info .project_owner, body#site #content_wrapper #content #back_info #project_info .project_expires_at, body#site #content_wrapper #content #back_info #project_info a {
  color: white;
}
/* line 376, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_info #project_info .project_expires_at {
  font-size: 12px;
  font-weight: 400;
}
/* line 379, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #back_info #project_info img {
  display: inline;
  float: right;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border: 1px solid white;
}
/* line 385, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content #profile_header .image img {
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* line 387, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .text {
  width: 75%;
  float: left;
}
/* line 390, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .newsletter {
  width: 23%;
  float: right;
}
/* line 393, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .our_video {
  position: relative;
  width: 640px;
}
/* line 396, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .our_video h2 {
  background-color: #666a45;
  color: white !important;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  text-transform: uppercase;
  padding: 10px 15px;
}
/* line 402, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .our_video img {
  width: 635px;
  height: 245px;
}
/* line 405, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #content .our_video p {
  position: absolute;
  margin-top: -30px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #00bbc9;
  width: 610px;
  padding: 10px 15px;
}
/* line 413, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #credits h1 {
  background-color: #fdf6ec;
  font-size: 32px !important;
  padding-left: 100px;
}
/* line 417, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #credits h1 span {
  color: #f29113;
}
/* line 419, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper #credits h2 {
  color: #f29113 !important;
}
/* line 421, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper .video {
  display: inline;
  width: 640px;
  height: 280px;
}
/* line 425, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #content_wrapper .banner {
  border: 1px solid #999999;
  float: right;
  width: 300px;
  height: 250px;
  text-align: center;
}
/* line 432, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_header h1 {
  padding-left: 0 !important;
}
/* line 434, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_header h1 .on_the_spot_mouseover {
  background-color: #2b6e18;
  background-color: rgba(43, 110, 24, 0.5);
}
/* line 437, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_header h2 {
  padding-bottom: 4px !important;
}
/* line 439, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #index_header {
  position: relative;
}
/* line 441, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #index_header #index_share {
  margin-top: -90px;
  display: inline;
  float: right;
  width: 224px;
}
/* line 445, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #index_header #index_share iframe {
  width: 180px !important;
}
/* line 448, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #index_header #index_share span.fb_iframe_widget iframe {
  width: 401px !important;
}
/* line 450, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #index_header #index_share iframe.twitter-follow-button {
  margin-top: 4px;
  width: 224px !important;
}
/* line 453, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #index_header #index_share iframe.twitter-share-button {
  margin-top: 8px;
}
/* line 455, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_list_header {
  color: #00bbc9;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  border-top: 10px solid #6c6f50;
  margin: 10px 0 0 0;
  padding: 10px 20px 10px;
}
/* line 463, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_list_header, body#site .project_list_wrapper {
  background-color: white;
}
/* line 465, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_box {
  padding: 3px;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  border: 1px solid #999999;
}
/* line 469, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_box .project_progress {
  background-color: #a9ab97;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  padding-top: 5px;
}
/* line 473, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_box .project_progress .container {
  background-color: #6f6e69;
  margin: 0 5px 10px;
  padding: 3px 0 3px 30px;
}
/* line 479, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_box .project_wrap .project_header .project_image {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  height: 150px;
}
/* line 482, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .project_box .project_category {
  color: #00bbc9;
  background: rgba(0, 0, 0, 0.5) url(coletivo_social/heart.png) no-repeat -2px -2px;
  line-height: 24px;
  top: 106px;
  width: 226px;
  border-right: 8px solid rgba(0, 188, 196, 0.7);
  font-size: 18px;
}
/* line 490, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .progress_bar {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  border: 3px double #888888;
  background-color: #787a75;
  margin: 0;
}
/* line 495, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .progress_bar .progress {
  background-color: #ff961f;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
}
/* line 499, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_description #project_menu {
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
/* line 502, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_description #project_menu ul li {
  padding-bottom: 0;
}
/* line 504, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_description #project_menu ul li a {
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
/* line 506, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_description #project_menu ul li a:hover {
  background-color: #68a852;
}
/* line 509, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_description #project_menu ul li.selected a {
  background-color: #498c36;
}
/* line 511, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .explore_more {
  background-color: white;
  margin: 0;
  padding: 0 10px;
}
/* line 515, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .explore_more hr {
  opacity: 1;
  margin: 0;
  width: auto;
  float: none;
  display: block;
  margin-bottom: 10px;
}
/* line 521, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .explore_more a {
  color: black;
  clear: both;
}
/* line 524, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .explore_more .explore_more_arrow {
  background-color: black;
  color: white;
  padding: 0 5px;
  font-size: 12px;
  float: none;
  display: block;
  display: inline;
}
/* line 532, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu {
  float: none;
  display: block;
  width: auto;
}
/* line 535, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu h3 {
  color: #00bbc9;
  font-size: 20px;
  text-transform: uppercase;
}
/* line 539, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu ul {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999999;
}
/* line 543, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu ul li {
  display: inline;
  border-right: 1px solid #cccccc;
}
/* line 546, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu ul li a {
  display: inline;
  background-color: white;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
}
/* line 552, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu ul li a:hover {
  color: #999999;
  background-color: white;
}
/* line 555, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_menu ul li a.selected {
  color: #f29113;
  background-color: white;
  font-weight: 900;
}
/* line 559, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #explore_projects #explore_results {
  float: none;
  display: block;
  width: auto;
}
/* line 565, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_back_info #back_project form input[type=submit] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #68a852), color-stop(100%, #498c36));
  background-image: -webkit-linear-gradient(top, #68a852, #498c36);
  background-image: -moz-linear-gradient(top, #68a852, #498c36);
  background-image: -o-linear-gradient(top, #68a852, #498c36);
  background-image: -ms-linear-gradient(top, #68a852, #498c36);
  background-image: linear-gradient(top, #68a852, #498c36);
}
/* line 567, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_back_info #back_project form input[type=submit]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #498c36), color-stop(100%, #68a852));
  background-image: -webkit-linear-gradient(top, #498c36, #68a852);
  background-image: -moz-linear-gradient(top, #498c36, #68a852);
  background-image: -o-linear-gradient(top, #498c36, #68a852);
  background-image: -ms-linear-gradient(top, #498c36, #68a852);
  background-image: linear-gradient(top, #498c36, #68a852);
}
/* line 569, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_back_info #back_project form input[type=submit]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #498c36), color-stop(100%, #68a852));
  background-image: -webkit-linear-gradient(top, #498c36, #68a852);
  background-image: -moz-linear-gradient(top, #498c36, #68a852);
  background-image: -o-linear-gradient(top, #498c36, #68a852);
  background-image: -ms-linear-gradient(top, #498c36, #68a852);
  background-image: linear-gradient(top, #498c36, #68a852);
}
/* line 571, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #project_back_info #back_project form input[type=submit]:disabled {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbbbbb), color-stop(100%, #888888));
  background-image: -webkit-linear-gradient(top, #bbbbbb, #888888);
  background-image: -moz-linear-gradient(top, #bbbbbb, #888888);
  background-image: -o-linear-gradient(top, #bbbbbb, #888888);
  background-image: -ms-linear-gradient(top, #bbbbbb, #888888);
  background-image: linear-gradient(top, #bbbbbb, #888888);
}
/* line 574, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer {
  clear: both;
  background-color: #82a7ff;
  color: white;
  padding: 0px 0 10px 0;
  border-top: solid 7px #6c714e;
  text-shadow: transparent, 0, 0, 0;
  margin-top: 40px;
  padding-top: 0px;
  background-color: #8c9bfd;
  color: #dddddd;
  text-align: left;
}
/* line 586, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer .body {
  width: 960px;
  background: transparent url(coletivo_social/logo_footer.png) 0 50% no-repeat;
  margin: auto;
  position: relative;
}
/* line 591, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer .body #faq {
  position: absolute;
  top: 0;
  left: 0;
  background: #6c714e url(coletivo_social/ico_faq.png) 10px 50% no-repeat;
  padding: 5px 5px 5px 30px;
  color: #ff961f;
  text-decoration: none;
}
/* line 599, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer a {
  color: #dddddd;
}
/* line 601, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer a:hover {
  color: white;
}
/* line 603, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu {
  margin: 0 0 0 150px;
  padding: 20px 0;
  width: auto;
}
/* line 607, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin: 0 40px;
}
/* line 60, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 48, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li:first-child, body#site #footer #footer_menu ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li.last {
  padding-right: 0;
}
/* line 611, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu ul li {
  float: none;
  display: block;
  display: block;
  border-bottom: 1px solid #cccccc;
  text-align: left;
  margin-top: 10px;
  font-weight: 400;
  padding: 0 0 5px 0;
}
/* line 619, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu ul li a {
  text-decoration: none;
}
/* line 621, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu ul li a:hover {
  color: #4a498a;
  font-weight: 900;
}
/* line 624, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu .collaborate {
  color: white;
  display: inline;
  float: right;
  width: 200px;
}
/* line 628, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu .collaborate .buy, body#site #footer #footer_menu .collaborate .stat {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
  padding: 10px;
}
/* line 633, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu .collaborate .buy p, body#site #footer #footer_menu .collaborate .stat p {
  font-weight: 900;
  font-style: italic;
  font-size: 18px;
}
/* line 637, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #footer_menu .collaborate .buy {
  background: rgba(255, 255, 255, 0.2) url(coletivo_social/payments.png) no-repeat 50% 90%;
  padding-bottom: 70px;
}
/* line 642, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #social_menu {
  margin: 0 auto;
  width: 488px;
  padding-bottom: 40px;
  font-size: 16px;
  clear: both;
}
/* line 648, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #social_menu img {
  vertical-align: middle;
  padding-bottom: 4px;
  height: 22px;
}
/* line 652, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #social_menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 48, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li:first-child, body#site #footer #social_menu ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../.rvm/gems/ruby-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li.last {
  padding-right: 0;
}
/* line 655, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #social_menu ul li a {
  font-size: 12px;
  padding: 3px 10px 0px;
  border-radius: 10px 10px 10px 10px;
  background: rgba(255, 255, 255, 0.15);
  text-decoration: none;
  font-weight: bold;
  display: block;
  display: inline;
  float: left;
}
/* line 664, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #footer #social_menu ul li a:hover {
  background-color: #6f76cb;
}
/* line 666, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #gravatar_hint {
  background-image: url();
}
/* line 669, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #how_it_works, body#site #project_warning, body#site #user_feed #gravatar_hint, body#site #companies .hint, body#site #about .hint {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  -o-border-radius: 0px / 0px;
  -ms-border-radius: 0px / 0px;
  -khtml-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border-right: 7px solid #f8c181;
  background-color: #03bacc;
  color: white !important;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  padding: 20px 10px;
  margin-bottom: 20px;
}
/* line 679, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #how_it_works #show-tips a, body#site #project_warning #show-tips a, body#site #user_feed #gravatar_hint #show-tips a, body#site #companies .hint #show-tips a, body#site #about .hint #show-tips a {
  color: white;
}
/* line 682, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site p#copyright {
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  padding-top: 10px;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
/* line 689, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site p#copyright img {
  width: 10px;
}
/* line 691, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site p#copyright a {
  text-width: 900;
}
/* line 694, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .on_the_spot_editing:after {
  content: " " url("coletivo_social/pencil.png");
}
/* line 696, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #companies {
  background-color: white;
}
/* line 699, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #companies .logos img {
  padding: 5px;
  width: 250px;
  height: 250px;
  border: 10px solid #efefef;
  margin: 10px;
}
/* line 706, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #about .img {
  height: 200px;
  border: 1px solid red;
  margin-bottom: 20px;
}
/* line 711, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #about .video iframe {
  background-color: black;
  width: 100%;
}
/* line 714, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site #about .video .hint {
  background-color: black;
  border: none;
  color: #00bbc9 !important;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0;
}
/* line 722, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .comments {
  margin-top: 30px;
  width: 610px;
  float: left;
  clear: left;
}
/* line 727, ../../../app/stylesheets/sites/coletivo_social.sass */
body#site .comments h3 {
  background-color: #84afb5;
  padding: 10px;
  font-size: 18px;
  color: white !important;
  margin-bottom: 20px;
}
