$font-color : #F29113
$color-blue : #00BBC9
$color-blue-head : #84AFB5
$color-brown : #666A45
$color-orange : #F29113


@import "compass/css3"
@import "compass/utilities"

=no-shadow 
  +box-shadow(rgba(0,0,0,0.0), 0px, 0px, 0px)

=no-text-shadow 
  +text-shadow(rgba(0,0,0,0.0), 0px, 0px, 0px)

=no-radius
  +border-radius(0px, 0px)

=bg-color-input
  background-color: #FDF6EC
  padding: 5px
  margin-top: 20px

=border-right
  border-right: 7px solid #F8C181

=box-blue-orange
  +border-right
  background-color: #4CC8D0 
  color: #fff !important

=font
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif 
