= render :partial => "/sites/#{current_site.path}/index_meta_tags"
= render :partial => "/sites/#{current_site.path}/carousel"
= render :partial => "/sites/#{current_site.path}/promo_top"
= render 'home_page_projects'
= render :partial => 'project_list', :locals => {:quick => "expiring", :collection => @expiring} unless @expiring.empty?
= render :partial => 'project_list', :locals => {:quick => "recent", :collection => @recent} unless @recent.empty?
= render :partial => 'project_list', :locals => {:quick => "successful", :collection => @successful} unless @successful.empty?
.clear
= javascript_include_tag 'slider', 'press' ,'root'
